<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Report</title>
</head>
<body>
    <form method="POST" action="/export">
        Class 10 <input type="radio" name="standard" value="x">
        Class 11 <input type="radio" name="standard" value="xi">
        Class 12 <input type="radio" name="standard" value="xii">
        <input type="submit" value="download">
    </form>
</body>
</html>