<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light navbar-expand-md" style="opacity: 100%;" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand">Attendance Database</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: 100%; height: 100%; position: relative;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link active" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" href="#">Attendance</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="position: absolute; z-index: 1;">
                            <li><a class="dropdown-item" href="/attendance/x" target="_blank">Class X</a></li>
                            <li><a class="dropdown-item" href="/attendance/xi" target="_blank">Class XI</a></li>
                            <li><a class="dropdown-item" href="/attendance/xii" target="_blank">Class XII</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link active" id="navbarDropdown1" data-bs-toggle="dropdown" aria-expanded="false" href="#">View Attendance</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1" style="position: absolute; z-index: 1;">
                            <li><a class="dropdown-item" href="/class/x" target="_blank">Class X</a></li>
                            <li><a class="dropdown-item" href="/class/xi" target="_blank">Class XI</a></li>
                            <li><a class="dropdown-item" href="/class/xii" target="_blank">Class XII</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle nav-link active" id="navbarDropdown3" data-bs-toggle="dropdown" aria-expanded="false" href="#">View Student Attendance</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown3" style="position: absolute; z-index: 1;">
                            <li>
                                <form class="d-flex dropdown-item form-group-lg" method="GET" action="/student" target="_blank">
                                    <select class="form-select form-select-sm" aria-label="choose a class" name="standard" required>
                                        <option disabled selected value>-</option>
                                        <% for (let standard of Object.keys(students)) { %>
                                            <option value="<%= standard %>"><%= standard.toUpperCase() %></option>
                                        <% } %>
                                    </select>&nbsp;
                                    <select class="form-select form-select-sm" aria-label="choose a student" name="roll_no" required><option disabled selected value>-</option></select>&nbsp;
                                    <input type="submit" value="Go" class="btn btn-sm btn-outline-secondary">
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button class="btn btn-outline-danger" onclick="javascript:location.href='/logout'">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="banner">
        <center>
            <h1>Welcome, <%= username %></h1>
            <!-- <h2>Made with 💛 by <a target="_blank" href="//github.com/Lakshaya-wq">Lakshaya Utreja</a></h2> -->
        </center>
    </div>
    <script type="text/javascript">
        $('[name="standard"]').change(function() {
            $('[name="roll_no"]').removeAttr('disabled');
            var $option = $(this).find('option:selected');
            var value = $option.val();
            var students = JSON.parse('<%- JSON.stringify(students) %>')[value];
            $('[name="roll_no"]').find('option').remove().end();
            students.map(function({roll_no}) {
                $(`<option value=${roll_no}>${roll_no}</option>`).appendTo('[name="roll_no"]');
            });
        });
        
        // const delete_cookie = function(name) {
        //     document.cookie = `${name}=;expires=${(new Date(0)).toUTCString()};`;
        // };
        // window.onbeforeunload = function() {
        //     $.ajax({
        //         url: '/logout',
        //         type: 'GET',
        //         xhrFields: {
        //             withCredentials: true
        //         }
        //     });
        // }
    </script>
</body>
</html>