<!DOCTYPE html>
<html>
  <head>
    <title>students</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
  </head>
  <body style="background-color: #282c34; color: white;">
    <center>
      <% if (student) { %>
        <table class="table table-bordered table-light table-striped table-hover">
          <thead>
            <th>Roll No</th>
            <th>Class</th>
            <th>Name</th>
          </thead>
          <tbody>
            <tr>
              <td><%= student.roll_no %></td>
              <td><%= student.class %></td>
              <td><%= student.name %><td>
            </tr>
          </tbody>
        </table>
      <% } else { %>
        <h1>No such student</h1>
      <% } %>
  </center>
  </body>
</html>
