body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #282c34 !important;
}
a {
  color: #00B7FF;
}
table thead {
  width: 100% !important;
}
table {
  text-align: center;
}

.table {
  margin-top: 5%;
}

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  top: -3px;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  left: -3px;
}

.ribbon {
  font: bold 15px sans-serif;
  color: #333;
  text-align: center;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 7px 0;
  top: 15px;
  left: -30px;
  width: 120px;
  background-color: lightgreen;
  color: #fff;
}

